
body{
    background-color: rgba(122, 120, 111, 0.429)
}

.textp {
    max-width: 700px;
}

.img {
    position: fixed;
    bottom: 200px;
    right: 20px;
    border: solid;
    padding: 10px;
    


    

}

